.navbar {
    position: sticky;
    top: 10px;
    z-index: 4;
    .logo {
        img {
            max-width: 80px;
        }
    }
    .socials {
        display: flex;
    
        .item {
            margin: 0 .75rem;

            img {
                max-height: 40px;
            }
        }
    }
}