@import '~bootstrap/scss/bootstrap.scss';
@import './assets/fonts/style.scss';

html, body {
    font-family: 'eraserregular', sans-serif;
    color: black;
    font-weight: bold;
}

h1,h2,h3,h4,h5,h6,p {
    font-weight: bold;
}

#root {
    background-image: url(./assets/images/background.png);
    background-repeat: repeat-y;
    min-height: 100vh;
}